{% extends 'layout.html' %}
{% block title %}Codecool Actors{% endblock %}
{% block content %}
<h1 class="title text-center">Actors</h1>
<div class="card">
    <ul>
        {% for actor in actors %}
            <dialog id="showRoles{{actor['id']}}">
            {% for role in roles %}
                {% if role['actor_id'] == actor['id'] %}
                <div>
                    <a href="{{ '/show/' + (role['id'] | string) }}">{{ role['title'] }}</a><br>
                </div>
                {% endif %}
            {% endfor %}
            <button id="cancelBtn{{actor['id']}}" value="cancel">Close</button>
            </dialog>
            <li>
                <button class="showModals" id="{{actor['id']}}"><p>{{ actor['name']}}</p></button>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}